.income_block{
    display: flex;
    justify-content: flex-start;
}   

.income{
    width: 300px;
    background: #4259688e;
    border-radius: 8px;
    padding: 10px 15px 20px 15px;
    height: auto;
    position: relative;
}
.time {
    
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.outgoing{
    width: 300px;
    height: auto;
    background: #4259688e;
    border-radius: 8px;
    padding: 10px 15px 20px 15px;
    position: relative;
}
.outgoing_block{
    display: flex;
    justify-content: flex-end;

}
