.modal{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal_content{
    padding: 20px;
    border-radius: 12px;
    background: white;
    height: 200px;
    width: 400px;
    /* display: flex; */
}
.form_search_friends{
    width: 80%;
}
.btn_find{
    background: lightgreen;
    width: 20%;
    height: 40px;
}
.form_search_friends{
    display: flex;
    width: 100%;
}
.users{
    margin-top: 20px;
    border: solid 1px black;
    min-height: 100px;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-between;
    width: 100%;

}