.navbar{
    height: 60px;
    background: #242526;
    padding: 0 1rem;
    border-bottom: 1px solid #474a4d;
}
.navbar_nav{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}