
.profile_info{
    width: 50%;
    height: 80vh;
    background: white;
    border-radius: 12px;
    opacity: 0;
    transition: 1s;
    position: fixed;
    left: 0;
    right: 0;bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
}

.visible{
    opacity: 1;
}

.leftBar{
    width: 28%;
    border-right: 2px solid blue;
    height: 100%;
    border-radius:  12px 0 0 12px;
    /* padding: 15px 10px; */
    overflow-y: scroll;
}
.messenger{
    width: 72%;
}

.messengerHeader{
    height: 60px;
    border-bottom: 2px solid blue;
}

.messengerHeader_info{
    display: flex;
    align-items: center;
    gap: 5px;
}
.user_conteiner{
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgba(145, 145, 211, 0.781);
    border-bottom: 1px solid black;
    height: 55px;
    padding-left: 15px;
    cursor: pointer;
}

.textarea:focus{
    outline: 0;
}



.name{

}